// FONT HERE
@font-face {
 font-family: "Akrobat";
 src: url("../font/Akrobat/Akrobat-Regular.eot") format("eot");
 src: url("../font/Akrobat/Akrobat-Regular.woff") format("woff");
 src: url("../font/Akrobat/Akrobat-Regular.woff2") format("woff2");
}

@font-face {
 font-family: "Akrobat-Thin";
 src: url("../font/Akrobat/Akrobat-Thin.eot") format("eot");
 src: url("../font/Akrobat/Akrobat-Thin.woff") format("woff");
 src: url("../font/Akrobat/Akrobat-Thin.woff2") format("woff2");
}

@font-face {
 font-family: "Akrobat-SemiBold";
 src: url("../font/Akrobat/Akrobat-SemiBold.eot") format("eot");
 src: url("../font/Akrobat/Akrobat-SemiBold.woff") format("woff");
 src: url("../font/Akrobat/Akrobat-SemiBold.woff2") format("woff2");
}

@font-face {
 font-family: "Akrobat-Light";
 src: url("../font/Akrobat/Akrobat-Light.eot") format("eot");
 src: url("../font/Akrobat/Akrobat-Light.woff") format("woff");
 src: url("../font/Akrobat/Akrobat-Light.woff2") format("woff2");
}

@font-face {
 font-family: "Akrobat-ExtraLight";
 src: url("../font/Akrobat/Akrobat-ExtraLight.eot") format("eot");
 src: url("../font/Akrobat/Akrobat-ExtraLight.woff") format("woff");
 src: url("../font/Akrobat/Akrobat-ExtraLight.woff2") format("woff2");
}

@font-face {
 font-family: "Akrobat-ExtraBold";
 src: url("../font/Akrobat/Akrobat-ExtraBold.eot") format("eot");
 src: url("../font/Akrobat/Akrobat-ExtraBold.woff") format("woff");
 src: url("../font/Akrobat/Akrobat-ExtraBold.woff2") format("woff2");
}

@font-face {
 font-family: "Akrobat-Bold";
 src: url("../font/Akrobat/Akrobat-Bold.eot") format("eot");
 src: url("../font/Akrobat/Akrobat-Bold.woff") format("woff");
 src: url("../font/Akrobat/Akrobat-Bold.woff2") format("woff2");
}

@font-face {
 font-family: "Akrobat-Black";
 src: url("../font/Akrobat/Akrobat-Black.eot") format("eot");
 src: url("../font/Akrobat/Akrobat-Black.woff") format("woff");
 src: url("../font/Akrobat/Akrobat-Black.woff2") format("woff2");
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
