.slider-title{
    text-align: left;
    // padding: 15% 10%;
    border-style:solid;
    background: $grey;
    border-color: rgba(28, 28, 28, 0.2);

    &:nth-child(even) {
        border-width:0px 1px;
    }

    &:nth-child(odd){
        border-width:1px 1px;
    }

    &:focus{
        background:$white;
        outline: none;
    }
}

.max-vh-75{
    max-height: 75vh;
}

.vh-50{
    height: 50vh;
}

.iconPlus{
    &::after{
        content:url(../img/plus.svg);
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);
    }
}

.header-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

blockquote::before{
    content: url('../img/quote.svg');
    position: absolute;
    top: -2rem;
    left: -7rem;
}

time{
    position: absolute;
    height: 5rem;
    width: 5rem;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    font-weight: 500;
    text-align: center;

    & span{
        display: block;
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
    }
}


cite{
    font-family: 'Lato';
    font-weight: 300;
}