// MIXINS AND VAR HERE
body {
    background-color: #F4F4F4!important;
}

.h2 {
    font-family: Akrobat-Bold;
    font-size: 43px;
    line-height: 1.23;
    letter-spacing: 3.44px;
    text-align: left;
}

.no-gutters {
    padding-right: 0!important;
    padding-left: 0!important;
    margin-right: 0;
    margin-left: 0;
}