// NAV HERE
nav {
    a {
        font-family: Akrobat;
        font-size: 25px;
        font-weight: bold;
        color: #1c1c1c;
        text-transform: uppercase;
        .blue {
            color: $blue;
        }
    }
}

.main-nav {
    z-index: 1;
}

.left-nav {
    background: $white;
    position: fixed;
    top: 0;
    padding-top: 180px;
    height: 100vh;
}